@font-face {
    font-family: 'Space Mono';
    src: url(../fonts/SpaceMono-Bold.woff2)
    url(../fonts/SpaceMono-Bold.woff);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    
}
@font-face {
    font-family: 'Lexend Deca';
    src: url(../fonts/LexendDeca-VariableFont_wght.woff2)
    url(../fonts/LexendDeca-Regular.woff);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    
}