.banner {
    position: relative;
    top: -50px;
    background-image: url(../images/bannerback.png);
    width: 100%;
    height: 200px;
    background-color: black;
    margin-top: 0;

    &_about {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -2.5px;
        color: #FFFFFF;
        position: relative;
        top: 50px;
        left: 100px;
    }
}