.era{
    position: relative;
    top: 30px;
    &-block{
        &__img{
            position: relative;
            top: 40px;
        }
        &__circle{
            position: relative;
            top: -900px;
        }
        &-vector{
            position: relative;
            left: 400px;
            top: -450px;
        }
    }
}












